body,
html {
  width: 450px;
  height: 450px;
  background-color: #0af;
  overflow: hidden;
  font-size: 14px;
}

.wrapper {
  width: 440px;
  height: 440px;
  margin: 5px;
  border-radius: .5rem;
  background-color: white;
  overflow-y: auto;
}

.header {
  width: 440px;
  position: fixed;
  background-color: #0af;
  /* box-shadow: 0 5px 5px rgba(255, 255, 255, 0.9); */
  z-index: 10;
}

.brand {
  font-weight: 800;
  padding: 0 15px 0 0;
}

a.nav-link {
  color: white;
}

.rating-container {
  padding: 60px 15px 15px 20px;
}

.name {
  font-weight: 800;
}

.rating {
  text-align: center;
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #f3d118 86%, #ffe13e 100%);
  border-radius: 25px;
}

.rating__icon {
  background-color: white;
  width: 35px;
  height: 35px;
  -webkit-mask: url(../img/star.svg) no-repeat center;
}

.rating__value {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
}

.review-card {
  border-top: 1px solid #c0c0c0;
  background-color: #fafafa;
  padding: 0 15px 15px 15px;
}

.review-card__title {
  font-weight: 600;
}

.review-card__rating {
  text-align: center;
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #f3d118 86%, #ffe13e 100%);
  border-radius: 25px;
  height: 25px;
}

.review-card__rating-icon {
  background-color: white;
  width: 20px;
  height: 20px;
  -webkit-mask: url(../img/star.svg) no-repeat center;
}

.review-card__rating-value {
  color: white;
  font-weight: 600;
}

.review-card__date {
  color: gray;
}

.review-card__content {
  margin-top: 10px;
}