body,
html {
    width: 420px;
    height: 450px;
    background-color: rgb(0, 75, 100);
    overflow: hidden;
    font-size: 14px;
}

.wrapper {
    width: 410px;
    height: 440px;
    margin: 5px;
    border-radius: .25rem;
    background-color: white;
}

